# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*






// Personal Notes
// </Switch> used for private Routes
// import { BrowserRouter as Router, Route, Switch} from 'react-router-dom';

//<img src = {user.avatar} alt={user.name} ></img> Logout here needs to be refixed
// valdation needs to be refixed. logout redirect needs to be checked again to be sure
// fix bootstrap for the input fields of profile.
// fix boothstrap for the photos section
// fix toggling profile social media or enter manually 52
// FIX the Authrozation for the tokens so the profile route woks
// Fix the check field for add experience and understand the logic
fix the add experience and education adding 
